//------------------------------------------------------------------------------
// CSS responsive breakpoints
$wide: 1024px;
$tablet: 768px;
$mobile: 420px;

//-----------------------------------------------------------------------------
// Fonts
$font: 'Alegria Sans', 'Arial', 'Helvetica', sans-serif;

//-----------------------------------------------------------------------------
// Site base colors
$white: #fff;
$black: #000;
$red: #f00;
$gray: #666;

$gray: #DADADA;
$body-gray: #eeeeee;
$light-gray: #F8F8F8;
$yellow: #fed811;
$light-yellow: #ECE4B7;
$dark-blue: #0A2240;
